<li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Pages</span></li>



<li class="nav-item">
    <a class="nav-link menu-link" href="~/Admins/VehicleTypes">
        <i class="bi bi-hdd-stack"></i> <span data-key="t-widgets">Vehicle Type</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" href="~/Admins/InsideVehicleTypes">
        <i class="bi bi-hdd-stack"></i> <span data-key="t-widgets">Inside Vehicle Type</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" href="~/Admins/InsuranceTypes">
        <i class="bi bi-layers"></i> <span data-key="t-components">Insurance Type</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="Estimates" asp-action="Index" >
        <i class="bi bi-layers"></i> <span data-key="t-components">Estimate</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="BillManages" asp-action="Index" >
        <i class="bi bi-layers"></i> <span data-key="t-components">Billing Manager</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="Sitemaps" asp-action="Index" >
        <i class="bi bi-layers"></i> <span data-key="t-components">Sitemaps</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="CustomerSupports" asp-action="Index" >
        <i class="bi bi-layers"></i> <span data-key="t-components">Customer Support</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="ClaimDetails" asp-action="Index" >
        <i class="bi bi-layers"></i> <span data-key="t-components">Claim details</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="Contacts" asp-action="Index">
        <i class="bi bi-layers"></i> <span data-key="t-components">Contacts</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" asp-controller="CustomerPolicies" asp-action="Index">
        <i class="bi bi-layers"></i> <span data-key="t-components">Customer Policy</span>
    </a>
</li>



