@model EProjectSEMIII.Models.UpdatePassword
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title-section bg-img cover-background left-overlay-dark" data-overlay-dark="6" data-background="/Client/img/banner/slide-05.jpg">
    <div class="container position-unset">
        <div class="page-title mx-1-6 mx-lg-2-0 mx-xl-2-6 mx-xxl-2-9">
            <div class="row">
                <div class="col-md-12">
                    <h1>Password</h1>
                </div>
                <div class="col-md-12">
                    <ul class="ps-0">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="">Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">

                <form class="" method="post">
                    <div class="quform-elements">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quform-element">
                                    <label for="name">Your Password <span class="quform-required">*</span></label>
                                    <div class="quform-input">
                                        <input class="form-control" id="name" type="password" asp-for="Password" placeholder="Your password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>.
                                        <span class="text-danger">@ViewBag.errorPassword</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="quform-element">
                                    <label for="name">New Password <span class="quform-required">*</span></label>
                                    <div class="quform-input">
                                        <input class="form-control" id="name" type="password" asp-for="NewPassword" placeholder="New password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="quform-element">
                                    <label for="name">Re-enter new password <span class="quform-required">*</span></label>
                                    <div class="quform-input">
                                        <input class="form-control" id="name" type="password" asp-for="ReEnterNewPassword" placeholder="Re-enter new password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <span class="text-danger">@ViewBag.errorRePass</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="quform-submit-inner">
                                    <button class="butn-style3" type="submit"><span>Update Password</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

