
<ul class="navbar-nav ms-auto" id="nav" style="display: none;">
    <li>
        <a asp-controller="Home" asp-action="index">Home</a>
    </li>

    <li>
        <a href="/InsideVehicleTypes">Quote</a>
    </li>
    <li>
        <a asp-controller="VehicleInfomation" asp-action="Index">Vehicle</a>
    </li>
    <li>
        <a asp-controller="CustomerRecord" asp-action="Edit">Profile</a>
    </li>
    <li>
        <a asp-controller="Contact" asp-action="Index">Contact</a>
    </li>
    <li>
        <a asp-controller="CustomerSupport" asp-action="Index">Support</a>
    </li>
    

</ul>
<!-- end menu area -->